* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background-color: #741515;
    background-image: linear-gradient(#8d48fc 0%, #5090ef 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.del {
    transform: scale(0);
    transition: .7s;
}

main {
    >div {
        width: 80%;
        min-height: 500px;
        margin: 20px auto 40px;
        border: 1px solid #eee;
        border-radius: 40px;
        padding: 40px 20px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        background-color: #f8f9fa;
        position: relative;

        >h3 {
            font-size: 48px;
            color: #6664ff;
            font-weight: bold;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
        }

        >div {
            display: flex;
            

            >input {
                width: 83%;
                height: 40px;
                padding-left: 15px;
                font-size: 16px;
                color: rgb(70, 70, 70);
                border: 1px solid darkgray;
                outline: 0;
                transition: .6s;
                border-radius: 3px;

                &:focus {
                    border-color: #6664ff;
                }

                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                    display: flex;
                    text-align: center;
                   
                }
            }

            >button {
                width: 17%;
                height: 40px;
                background-color: #6664ff;
                border-radius: 3px;
                color: #fefefe;
                font-size: 28px;
                font-weight: bold;
                border: 0;
                cursor: pointer;
                transition: .4s;

                &:hover {
                    background-color: #7b79ff;
                }
            }
        }

        >img{
            margin: 100px auto;
            display: flex;
            justify-content: center;
        }

        >p {
            text-align: center;
            margin-top: 100px;
            font-weight: 600;
        }

        >ul {
            >p {
                margin: 50px 0 20px;
            }

            >li {
                display: flex;
                align-items: center;
                margin-top: 20px;
                height: 60px;
                border-radius: 4px;
                overflow: hidden;
                background-color: #7c9ac2;
                width: 100%;
                padding-left: 5px;
                margin-bottom: 15px;

                >input {

                    &:first-of-type{
                        height: 45%;
                        width: 10%;
                        accent-color: #4f508b;
                    }

                    &:last-of-type {
                        width: 80%;
                        height: 100%;
                        border: none;
                        font-size: 30px;
                        color: black;
                        padding-left: 10px;
                    }
                }

                >span {
                    width: 15%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: linear-gradient(#6348fc 0%, #5231a0 100%);
                    cursor: pointer;
                    transition: .5s;
                    
                    >i {
                        color:  black;
                        font-size: 17px;
                        &:hover{
                            color: white;
                            transition: .4s;
                        }
                    }

                    &:hover {
                        background-image: linear-gradient(#6664ff 0%, #2f46c9e1 100%);
                        transition: .9s;
                        color: #eee;
                    }
                }
            }
        }

        >#clear {
            position: absolute;
            bottom: 10px;
            left: 10%;
            text-align: center;
            font-size: 30px;
            color:#1114a7;
            text-decoration: none;
            font-weight: bold;
           

            &:hover {
                color:#5231a0;
                transition: .4s;
                }
            

           
        }
    }
}
.bottomfoot{ z-index: 999;
    width: 100%;
    height: 100px;
    background-color: rgba(137, 43, 226, 0.608);
    display: flex;
   
    
   
   
    >span{
        width: 400px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content:end;
        align-items:center;
        margin-left: 5%;
        >p{
           text-transform: capitalize;
           font-size: 12px;
          font-weight: 400;
           margin-left: 5%;
          font-family:  arial;
          color: black;
        }
    >img{
        width: 100px;
        height: 100px;
        border-end-start-radius: 50%;

    }

    }
    >div{
        width: 600px;
        margin-top: 10px;
        justify-content: center;
        >a{
            
        font-size: 30px;
        color: #3d3479;
        margin: 20px;
        transition-duration: 0.5s;
        height:fit-content;
        
        
        
    }
}
}


.footer {
    z-index: 999;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    right: 50px;

    &:hover {

        >img,
        &::before {
            animation-play-state: paused;
        }

        >a {
            left: -30%;
        }
    }

    >img,
    &::before {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        content: '';
        background-color: #3d3479;
        animation: fancybefore infinite ease-out alternate 3s;
    }

    >img {
        animation: fancyimg infinite ease-out alternate 5s;

    }

    >figcaption {
        position: absolute;
        width: 130%;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        left: -20px;
        font-size: 25px;
        color: #3d3479;
        bottom: -45px;
    }

    >a {
        position: absolute;
        left: 8%;
        transition: 1s;
        color: #3d3479;
        font-size: 35px;

        &:nth-of-type(1) {
            top: 10%;
        }

        &:nth-of-type(2) {
            top: 40%;
            transition-delay: .4s;
        }

        &:nth-of-type(3) {
            top: 70%;
            transition-delay: .8s;
        }
    }


}

@keyframes fancybefore {
    0% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    50% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }

    100% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }
}

@keyframes fancyimg {
    0% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }

    50% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    100% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }
}



